/* CSS files add styling rules to your content */

/* CSS files add styling rules to your content */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}

header {
  width: 100%;
  padding: 360px 0;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  /* animation magic */
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;
}

header h1 {
  font-size: 30px;
  text-indent: 43%;
  font-weight: 500;
  padding:17px;
}

.container {
  width: 40%;
  margin: 180px auto;
}

.shrink {
  padding: 0px 0;
}

p {
  margin: 0 0 40px 0;
  line-height: 24px;
}

strong {
  font-weight: bold;
}

/*DIASHOW*/
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  margin-top: 25px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.parallax {
  /* The image used */
  background-image: url("https://www.dreieck-design.com/media/1349/glas-lautspecher-qeos-audio-a_qeos_klar_reinweiss.jpg");

  /* Set a specific height */
  min-height: 1100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

<!-- Container element -- > <div class="parallax" > </div > strong {
  color: #303030;
}

marginleft {
  margin-left: 5%;
}

#margin {
  margin-top: 42px;
  font-weight: 130;
}
#random {
  position: absolute;
  right: 20px;
  width: 100px;
}

/*Appearing info*/
* {
  margin: 0;
  padding: 0;
}

.about {
  max-width: 1200px;
  position: absolute;
  top: 2075px;
  right: 50px;
  width: 800px;
  height: 590px;
  padding: 100px 0;
  transform-style: preserve-3d;
  transform: perspective(800px);
}
.about h2 {
  text-transform: uppercase;
  transition: all 5.5s ease;
  font-size: 40px;
  font-weight: 400;
  margin-top: 10px;
 
}

.about p {
  transition: all 5.5s ease;
  font-size: 15px;
  padding:10px;
  
}
.about.hidden h2 {
  opacity: 0;
  transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
.about.hidden p {
  opacity: 0;
  transform: translate3d(0, 0, 400px) rotateY(40deg);
}

.button0 {
  position:absolute;
  display: inline-block;
  text-decoration: none;
  background: #8B0000;
  color: #8B0000;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 800px;
  margin-top: -550px;
}

.button1 {
  position:absolute;
  display: inline-block;
  text-decoration: none;
  background: #A9A9A9;
  color: #A9A9A9;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 900px;
  margin-top: -550px;
}

.button2 {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: #FDF5E6;
  color: #FDF5E6;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 1000px;
  margin-top: -550px;
}

.button3 { 
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: #8FBC8F;
  color: #8FBC8F;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 1100px;
  margin-top: -550px;
}
.button4 {	 
  position:absolute;
  display: inline-block;
  text-decoration: none;
  background: #FFD700;
  color: #FFD700;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 1200px;
  margin-top: -550px;
}
.button5 { 
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: #5F9EA0;
  color: #5F9EA0;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 800px;
  margin-left: 800px;
  margin-top: -450px;
}
.button6 {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: #F5F5DC;
  color: #F5F5DC;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 900px;
  margin-top: -450px;
}
.button7 {
  position: absolute;
 display: inline-block;
  text-decoration: none;
  background: #000000;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 1000px;
  margin-top: -450px;
}

.button8 {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: #696969;
  color: #696969;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px white;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 1100px;
  margin-top: -450px;
}

.button9 {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: #FFFFF;
  color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 0%;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px grey;
  transition: .4s;
  outline:none;
  margin: 10px;
  margin-left: 1200px;
  margin-top: -450px;
  
}

.button 0,2,3,4,5,6,7,8,9 :active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

/* buy button1*/
.buybutton1 {
  position: absolute;
  top: 4250px;
  right: 45px;
  background-color: #0071e3;
  color: white;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 18px; 
  outline: none;
}

.buybutton1:hover {opacity: 1}

/* buy button2*/
.buybutton2 {
  position: absolute;
  top: 6130px;
  right: 45px;
  background-color: #0071e3;
  color: white;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 18px; 
  outline: none;
}

.buybutton2:hover {opacity: 1}

/* Thick red border */
hr { 
    margin: 50px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.policy {
  text-decoration:none;
  font-size:12px;
  letter-spacing:3.5px;
  text-align:center;
  font-weight:5px;
  visited: black;
  underline:black;
}

a:visited{
text-decoration: none;
color: black;
